<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Name}}</title>
    <style type = "text/css"> 
        p { 
          font-family: Arial, Helvetica, sans-serif;
        }
        .section-preambel { 
          font-size: 1.2rem;
        }
        .document-preambel { 
          font-size: 1.4rem;
        }
        body {
          margin: 2rem
        }
      </style> 
	</head>
	<body>
    <h1 class="document-title">{{.Name}}</h1>
    {{with .Preambel}}<p class="document-preambel">
      {{ . }}
    </p>{{end}}
    {{range .Sections}}<section class="section">
      <h2 class="section-title">
        {{.Heading}}
      </h2>
      {{range .Subsections}}<div class="subsection">
        {{with .Preambel}}<p class="subsection-preambel">
          {{ . }}
        </p>{{end}}
        {{range .Paragraphs}}<p class="paragraph">
          {{ . }}
        </p>{{end}}
      </div>{{end}}
    </section>{{end}}
	</body>
</html>
