<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Name}}</title>
    <style type = "text/css">
        body {
          margin: 2.5cm;
          font-family: Arial, Helvetica, sans-serif;
        }
        .document-title {
          font-family: "Times New Roman", Times, serif;
        }
        .document-title, .document-preambel {
          text-align: center;
          margin: 0 16%;
        }
        .document-preambel { 
          font-size: 1.2rem;
        }
        .paragraph { 
          margin-left: 2rem;
        }
      </style> 
	</head>
	<body>
    <h1 class="document-title">{{.Name}}</h1>
    {{with .Preambel}}<div class="document-preambel">
      {{ . }}
    </div>{{end}}
    {{range .Sections}}<section class="section">
      <h2 class="section-title">
        {{.Heading}}
      </h2>
      {{range .Subsections}}<div class="subsection">
        {{with .Preambel}}<div class="subsection-preambel">
          {{ . }}
        </div>{{end}}
        {{range .Paragraphs}}<div class="paragraph">
          {{ . }}
        </div>{{end}}
      </div>{{end}}
    </section>{{end}}
	</body>
</html>
